[filter "gitignore"]
  clean = "sed '/#gitignore$/'d"
  smudge = cat
[filter "branchme"]
  clean = "branch=$(git branch --no-color | grep --color=never '*' | cut -d ' ' -f2); test \"$branch\" = \"production\" && branch=master; sed -e \"s/branch =>.*/branch => '${branch}'/g\""
  smudge = cat
